<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizador de Grafo com Canvas</title>
    <style>
        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .row {
            display: flex;
            justify-content: center;
        }
        canvas {
            display: flex;
            border: 1px solid #ccc;
            background-image: url("../static/mapa.png");
            background-size: cover;
        }
        h2, h3 {
            padding-left: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form method="post" action="{{ url_for('index') }}" style="margin: 30px 30px">
            <label for="cities">Remover:</label>
            <select id="remover" name="remover">
                {% for city in cities %}
                <option value="{{ city.id }}">{{ city.id }} - {{ city.name }}</option>
                {% endfor %}
            </select>
            <button type="button" id="btnEnviar" onclick="remover()">Remover</button>
            <label for="cities">Origem:</label>
            <select id="origin" name="origin">
                {% for city in cities %}
                <option value="{{ city.name }}">{{ city.id }} - {{ city.name }}</option>
                {% endfor %}
            </select>
            <label for="cities">Destino:</label>
            <select id="destiny" name="destiny">
                {% for city in cities %}
                <option value="{{ city.name }}">{{ city.id }} - {{ city.name }}</option>
                {% endfor %}
            </select>
            <button type="button" id="btnEnviar" onclick="enviarFormulario()">Enviar</button>
            {% if distancia > 0 %}
            <button type="button" id="btnEnviar" onclick="enviarFormulario(true)">Recarregar</button>
            {% endif %}
        </form>
        <div class="row">
            <canvas id="canvas" width="1300" height="810"></canvas>
            <div>
                <h2>Cidades</h2>
                <ul>
                    {% for nodeId, node in nodes.items() %}
                    <li>{{nodeId}}: {{node['name']}}</li>
                    {% endfor %}
                </ul>
                <h2>Caminhos</h2>
                <ul>
                    {% for path in paths %}
                    <li>De {{path['from']}} até {{path['to']}}: {{path['distance']}} Km, {{path['time']}} Min</li>
                    {% endfor %}
                </ul>
                {% if distancia > 0 %}
                <h3>Distancia total: {{ distancia }} Km</h3>
                <h3>Tempo total: {{ tempo }} Min</h3>
                <button type="button" id="google" style="margin-left: 30px;" onclick="abrirComGoogle()">Abrir no google maps</button>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext('2d');

        function drawNode(x, y, texto) {
            var padding = 10;
            var cantoArredondado = 7;

            ctx.font = '14px Arial';
            var larguraTexto = ctx.measureText(texto).width;

            var larguraRetangulo = larguraTexto + 2 * padding;
            var alturaRetangulo = 30;  // Altura fixa para o exemplo

            ctx.beginPath();
            ctx.moveTo(x + padding + cantoArredondado, y);
            ctx.arcTo(x + larguraRetangulo, y, x + larguraRetangulo, y + alturaRetangulo, cantoArredondado);
            ctx.arcTo(x + larguraRetangulo, y + alturaRetangulo, x, y + alturaRetangulo, cantoArredondado);
            ctx.arcTo(x, y + alturaRetangulo, x, y, cantoArredondado);
            ctx.arcTo(x, y, x + larguraRetangulo, y, 1);
            ctx.shadowOffsetX = 5;
            ctx.shadowOffsetY = 5;
            ctx.shadowBlur = 10;
            ctx.shadowColor = 'rgba(0, 0, 0, 0.5)';
            ctx.closePath();

            ctx.fillStyle = '#a6a6a6';  // Cor de preenchimento
            ctx.fill();

            ctx.fillStyle = '#fff';  // Cor do texto
            ctx.fillText(texto, x + padding, y + alturaRetangulo / 1.6);
        };

        function drawEdge(x1, y1, x2, y2, text) {
            ctx.beginPath();
            ctx.moveTo(x1, y1);
            ctx.lineTo(x2, y2);
            ctx.strokeStyle = 'black';
            ctx.lineWidth = 2;
            ctx.stroke();
        }

        function enviarFormulario(recarregar = false) {
            var oriEle = document.getElementById('origin');
            var desEle = document.getElementById('destiny');

            var oriInd = oriEle.selectedIndex;
            var desInd = desEle.selectedIndex;

            var oriVal = oriEle.options[oriEle.selectedIndex].value;
            var desVal = desEle.options[desEle.selectedIndex].value;

            oriInd++;
            desInd++;

            if (oriInd == desInd && !recarregar){
                alert("A origem e o destino devem ser diferentes")
                return;
            }

            var novaURL = '/rota?origem=' + encodeURIComponent(oriInd) + '&destino=' + encodeURIComponent(desInd);
            window.location.href = recarregar? '/' : novaURL;


        }

        function remover() {
            var remEle = document.getElementById('remover');

            var remInd = oriEle.selectedIndex;
            
            var novaURL = '/removido?removido=' + encodeURIComponent(remInd);

            window.location.href = novaURL;

        }

        function abrirComGoogle(){
            window.open("{{ url }}", "_blank")
        }

        document.addEventListener('DOMContentLoaded', function() {
            var sNodes = '{{ nodes | tojson }}';
            var nodes = Object(JSON.parse(sNodes));


            for (let i in nodes) {
                node = nodes[i]
                for (let path of node.paths) {
                    var fromNode = nodes[path.from];
                    var toNode = nodes[path.to];
                    drawEdge(
                        fromNode.coordinates.x,
                        fromNode.coordinates.y,
                        toNode.coordinates.x,
                        toNode.coordinates.y,
                        `${path.id}`
                    );
                }
            }


            for (let i in nodes) {
                node = nodes[i];
                drawNode(node.coordinates.x,node.coordinates.y, `${node.id}`);
            }
        });
    </script>
</body>
</html>
